#grid-container-index {
    display: grid;
    grid-template-rows: 125px auto 75px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

#grid-container-produkt {
    display: grid;
    grid-template-rows: 125px auto 75px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

#grid-container-profil {
    display: grid;
    grid-template-rows: 125px auto 75px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

#grid-container-profil main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

header {
    grid-area: header;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "top"
    "nav";
    background-color: darkred;
}

#top-page {
    display: grid;
    grid-area: top;
    grid-template-columns: 1fr 1fr;
}

#top-page h1 {
    padding-left: 15px;
}

#profile {
    display: grid;
    grid-template-columns: 50px 50px;
    align-items: center;
    justify-items: end;
    justify-content: end;
}

#profile p {
    display: none;
}

#profile img {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

nav {
    grid-area: nav;
    background-color: maroon;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
}

nav ul li {
    font-size: 2vw;
}

main {
    grid-area: main;
    background-color: palegoldenrod;
}

#product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1vw;
}

#product-text {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 2vw 3vw auto;
    align-items: start;
    justify-items: center;
    place-content: center;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 1.5vw;
}

#product-text button {
    border: 1px solid black;
    color: white;
    padding: 10px;
    background-color: red;
    height: 5vw;
    width: 10vw;
    border-radius: 20px;
    font-size: 1.5vw;
}

#product img {
    height: 35vw;
    width: auto;
    border-radius: 10px;
    border: 5px solid black;
}

#similar-items {
    display: grid;
    grid-template-rows: auto auto;
}

#similar-items ul {
    display: flex;
    justify-content: space-between;
}

#similar-items img {
    height: 12vw;
    width: 12vw;
    border: 4px solid black;
    border-radius: 40px;
}

.image-container img {
    display: none;
}

.image-container-m {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-decoration:underline;
}

/* #profile-info {
    display: grid;
    grid-template-rows: 260px 50px 50px 100px;
    grid-template-columns: 150px;
    align-items: start;
    justify-items: center;
    align-content: start;
    justify-content: center;
    padding-top: 50px;
} */

#profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-info p {
    max-width: 10vw;
}

#profile-info button {
    background-color: palegreen;
} 

#profile-info img {
    height: 20vw;
    width: 20vw;
    border: 2px solid black;
    border-radius: 200px;
}

#bought-items h2 {
    text-align: center;
}

#bought-items ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-evenly;
    grid-row-gap: 10px;
}

#bought-items ul li {
    display: grid;
    grid-template-rows: auto auto;
}

#bought-items img {
    height: 10vw;
    width: 10vw;
    border: 2px solid black;
    border-radius: 25px;
}

footer {
    grid-area: footer;
    background-color: darkred;
}

footer ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    place-content: center;
    place-items: center;
}

@media only screen and (min-width: 1000px) {
    #profile p {
        display: block;
    }


    .image-container {
        position: relative;
        display: inline-block;
    }
    
    .image-container img {
        display: block;
        width: 100%;
        height: auto;
    }

    .image-container-m {
        display: none;
    }
    
}